@{
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-12 body-content'>
                <h2>Sign in to the Weather Checker</h2>
                <a href="/account/external?provider=OpenIdConnect">Log in with Google</a>
            </div>
        </div>
    </div>
}